.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Build results
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled dependencies
/bin/
/obj/
/dist/

# Visual Studio 2015 cache/options directory
.vs/

# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# MSTest test Results
TestResults/

# NPM
node_modules/
package-lock.json

# Bower
bower_components/

# TypeScript compile output
typings/
